<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ProjectNo1</display-name>
	<welcome-file-list>
		<welcome-file>/concept-master/login/login.jsp</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>/concept-master/content/*</url-pattern>
			<include-prelude>/concept-master/common/header.jsp</include-prelude>
			<include-prelude>/concept-master/common/nav.jsp</include-prelude>
			<include-prelude>/concept-master/common/left.jsp</include-prelude>
			<include-coda>/concept-master/common/footer.jsp</include-coda>
		</jsp-property-group>
	</jsp-config>

	<listener>
		<listener-class>jdbc.DBCPInitListner</listener-class>
	</listener>
	<context-param>
		<param-name>poolConfig</param-name>
		<param-value>
			jdbcdriver=com.mysql.jdbc.Driver
			jdbcUrl=jdbc:mysql://localhost:3306/projectdb?characterEncoding=utf8
			dbUser=scott
			dbPass=1111
			poolName=dow
		</param-value>
	</context-param>
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>LoginCheck</filter-name>
		<filter-class>filter.LoginCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginCheck</filter-name>
		<url-pattern>/*/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>ManufactureAction</servlet-name>
		<servlet-class>controller.MfAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManufactureAction</servlet-name>
		<url-pattern>/mf/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProfileAction</servlet-name>
		<servlet-class>controller.ProfileAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileAction</servlet-name>
		<url-pattern>/profile/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChartAction</servlet-name>
		<servlet-class>controller.ChartAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChartAction</servlet-name>
		<url-pattern>/chart/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NoticeAction</servlet-name>
		<servlet-class>controller.NoticeAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticeAction</servlet-name>
		<url-pattern>/notice/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MainAction</servlet-name>
		<servlet-class>controller.MainAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainAction</servlet-name>
		<url-pattern>/main/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmailAction</servlet-name>
		<servlet-class>controller.EmailAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailAction</servlet-name>
		<url-pattern>/email/*</url-pattern>
	</servlet-mapping>
	
	<!-- <security-constraint>
		<web-resource-collection>
			<web-resource-name>my-secure-app</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint> -->
	
</web-app>   