<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProjectNo1</display-name>
  <welcome-file-list>
    <welcome-file>/concept-master/login/login.jsp</welcome-file>
  </welcome-file-list>
  
  <jsp-config>
    <jsp-property-group>
      <url-pattern>/concept-master/content/*</url-pattern>
      <include-prelude>/concept-master/common/header.jsp</include-prelude>
      <include-prelude>/concept-master/common/nav.jsp</include-prelude>
      <include-prelude>/concept-master/common/left.jsp</include-prelude>
      <include-coda>/concept-master/common/footer.jsp</include-coda>
    </jsp-property-group>
  </jsp-config>
  
  <servlet>
		<servlet-name>DBCPInit</servlet-name>
		<servlet-class>connection.DBCPInit</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>my-secure-app</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>



</web-app>   